/*
   
    -------------------------------
         Author: Hirep Noham
    -------------------------------
*/
html {
    height: 100%;

}

body {
    background: rgb(132, 208, 251);
    background: linear-gradient(180deg, rgba(132, 208, 251, 1) 0%, rgba(255, 255, 255, 0.7567401960784313) 100%);
}



#container {
    background-color: #FFF;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




#Btn-color {
    margin: 0;
    position: absolute;
    top: 50px;
    left: 56%;


}

#Button {
    width: 100px;
    height: 50px;


}

#remove {
    height: 50px;
    position: relative;
    top: -15px;

}

#Grid {
    display: grid;
    grid-template-columns: repeat(17, 35.2px);
    grid-template-rows: repeat(17, 35.2px);

}



#Grid>div {
    width: 35px;
    height: 35px;
    border: black solid 1px;

}

h2 {
    font-size: 50px;
    position: absolute;
    position: absolute;
    top: 50px;
    left: 33%;

}

article {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 300px;

}

article>p {
    font-size: 25px;
}

#PixelImg {
    position: absolute;
    top: 75px;
    left: 20px;
}

#PixelCoeur {
    position: relative;
    top: 565px;
    left: 1193px;
}

#Pixeléclaire {
    position: relative;
    top: 400px;
    left: 1058px;
}

#PixelParaPluit {
    position: relative;
    top: 235px;
    left: 923px;
}

#PixelSoleil {
    position: relative;
    top: 70px;
    left: 788px;
}

#Footer {
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

#cloud {
    position: relative;
    left: 230px;
    z-index: -1;
}

#logoSnake {
    position: absolute;
    top: 20px;
    left: 20px;
}