html {
    height: 100%;

}

body {
    background: rgb(132, 208, 251);
    background: linear-gradient(180deg, rgba(132, 208, 251, 1) 0%, rgba(255, 255, 255, 0.7567401960784313) 100%);
    background-repeat: no-repeat;
}

#container {
    background-color: #FFF;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,h2,h3 {
    text-align: center;
}

h3 {
    position: relative;
    height: 50px;
}

/* CARDS */
/* TODO :
+ animation retourne carte 
+ retourner carte au premier clique
*/

#memorygame {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    background-color: transparent;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
}


img {
    width: 160px;
    height: 200px;
}

